

a:hover{
    color: orange !important;


}

li{
    background-color: #0056b3 !important;
}

a{
    color: white !important;
        padding: 5px;
        font-size: 18px;
        margin:auto !important;
}

header, nav{
    background-color: #0056b3 !important;
}

#logout:hover{
    color: orange !important;

}