<app-header></app-header>

<div class="container" style="margin-top:50px; margin-bottom: 100px;width: 100%;">

    <div class="row justify-content-center">

        <div class="col-md-20">

            <div class="card bg-light">

                <div class="card-header bg-dark text-white">
                    <h1>Produtos <i style="font-size: 40px; text-align: center; float:right">
                        <svg xmlns="http://www.w3.org/2000/svg" width="40px" height="40px" fill="currentColor" class="bi bi-memory" viewBox="0 0 16 16">
                            <path d="M1 3a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h4.586a1 1 0 0 0 .707-.293l.353-.353a.5.5 0 0 1 .708 0l.353.353a1 1 0 0 0 .707.293H15a1 1 0 0 0 1-1V4a1 1 0 0 0-1-1H1Zm.5 1h3a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-4a.5.5 0 0 1 .5-.5Zm5 0h3a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-4a.5.5 0 0 1 .5-.5Zm4.5.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-4ZM2 10v2H1v-2h1Zm2 0v2H3v-2h1Zm2 0v2H5v-2h1Zm3 0v2H8v-2h1Zm2 0v2h-1v-2h1Zm2 0v2h-1v-2h1Zm2 0v2h-1v-2h1Z"/>
                          </svg>
                    
                    </i>

                    </h1>
                </div>
                <div style="float: left; margin-top:20px;margin-left:25px;">
                    <button class="btn btn-outline-secondary my-6 my-sm-0" style="font-size: 18px; " data-target="#modalEditar"  data-toggle="modal" (click)="editar(produto,false)" type="button">Adicionar <strong><i class="bi bi-plus-circle-fill" style="font-size: 25px;"></i></strong> </button>
                </div>

                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <div>
                    </div>
                    <div class="collapse navbar-collapse" style="width: 100%;margin-top: 20px; margin-left: 5px;; float:left" >
                      
                      <form class="form-inline my-2 my-lg-0" style="width: 100%;margin-top: 150px;display: inline-block;">
                        &nbsp;<input class="form-control mr-sm-10" [(ngModel)]="nomeBuscar" name="nome" type="search" style="width:60%;"placeholder="Pesquisar" aria-label="Pesquisar">
                        <div class="input-group-prepend"style="display:inline">

                            <select [(ngModel)]="categoriaBuscar" name="categoria"class="input-group-prepend form-control" id="inlineFormCustomSelect">
                                <option></option>

                                <option [value]="'HD'">HD</option>
                                <option [value]="'SSD'">SSD</option>
                                <option [value]="'MEMORIA RAM'">MEMORIA RAM</option>
                                <option [value]="'PLACA DE VÍDEO'">PLACA DE VÍDEO</option>
                                <option [value]="'PROCESSADOR'">PROCESSADOR</option>
                                <option [value]="'PLACA MÃE'">PLACA MÃE</option>
                                <option [value]="'TECLADO NOTEBOOK'">TECLADO NOTEBOOK</option>
                                <option [value]="'TELA NOTEBOOK'">TELA NOTEBOOK</option>
                                <option [value]="'OUTROS'">OUTROS</option>
                            </select>
                        </div>
                        &nbsp;&nbsp;&nbsp;&nbsp;<button class="btn btn-outline-success my-6 my-sm-0" (click)="consultarPorNomeECategoria(idEmpresaGlobal,nomeBuscar,categoriaBuscar)" type="submit">Pesquisar <strong><i class="bi bi-search" style="font-size: 15px;"></i></strong> </button>
                     
                     
                    
                    
                    
                    </form>
                    </div>

                  </nav>

                <div class="card-body" style="margin-right: 50px;width:1200px;">
                    <table *ngIf="produtos.length != 0" class="table table-dark" style="margin-right: 50px;width:1150px;">
                        <thead style="font-size: 20px;">
                            <th>Id</th>
                            <th>Nome</th>
                            <th>Código</th>
                            <th>Categoria</th>
                            <th>Descrição</th>
                            <th>Valor</th>
                            <th style="text-align: center;">Ações</th>
                        </thead>
                        <tbody>
                            <tr  *ngFor="let item of produtos; index as i;"   [ngClass]="{'table-active': i % 2 == 0, '': i % 2 != 0}" style="font-size: 15px;">
                                <td> {{ item.id }}</td>
                                <td> {{ item.nome }}</td>
                                <td> {{ item.codigo }}</td>
                                <td> {{ item.categoria }}</td>
                                <td> {{ item.descricao }}</td>
                                <td> {{ item.valor | currency:'BRL':'symbol':'1.2-2'}} </td>
                                <td style="text-align: center;">
                                    <button type="button" class="btn btn-primary" data-target="#modalEditar"  data-toggle="modal" (click)="editar(item, true)"><i
                                            class="bi bi-pencil-square"  ></i> Editar </button>
                                    &nbsp;
                                    <button type="button" class="btn btn-danger" (click)="excluir(item.id)"><i class="bi bi-trash-fill"></i>
                                        Excluir</button>
                                </td>

                            </tr>
                            
                        </tbody>
                    </table>


                </div>

            </div>

        </div>

    </div>
</div>
<div class="modal fade" id="modalEditar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document" style="width: 80%;">
    <div class="modal-content bg-dark text-white">
      <div class="modal-header bg-dark text-white">
        <h3 *ngIf="labelEditar"  class="modal-title" id="exampleModalLabel" style="color: gold; font-weight: bold" >Edição</h3>
        <h3 *ngIf="!labelEditar"  class="modal-title" id="exampleModalLabel" style="color: gold; font-weight: bold" >Inserção</h3>
        <button type="button" class="close text-white" data-dismiss="modal" aria-label="Fechar">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="width: 100%;">
        <form style="width: 100%;">
    
            <div class="form-group">
                <label for="id" class="col-form-label" style="font-size: 18px;font-weight: bold">ID:</label>
                <input type="number" #id [(ngModel)] = "produto.id" name="id" disabled style="background-color: #ccc;" class="form-control" >
            </div>
            <div class="form-group">
                <label for="nome" class="col-form-label"  style="font-size: 18px;font-weight: bold">NOME:</label>
                <input type="text" #nome class="form-control" name="nome" [(ngModel)] = "produto.nome" >
            </div>
            <div class="form-group">
                <label for="codigo" class="col-form-label"  style="font-size: 18px;font-weight: bold">CODIGO:</label>
                <input type="text" class="form-control" name="codigo" [(ngModel)] = "produto.codigo" >
            </div>

            <div class="form-group">
                <label for="valor" class="col-form-label"  style="font-size: 18px;font-weight: bold" >CATEGORIA:</label>
                <select class="form-control" name="categoria" [(ngModel)]="produto.categoria">
                    <option value="HD">HD</option>
                    <option value="SSD">SSD</option>
                    <option value="MEMORIA RAM">MEMORIA RAM</option>
                    <option value="PLACA DE VÍDEO">PLACA DE VÍDEO</option>
                    <option value="PROCESSADOR">PROCESSADOR</option>
                    <option value="PLACA MÃE">PLACA MÃE</option>
                    <option value="TECLADO NOTEBOOK">TECLADO NOTEBOOK</option>
                    <option value="TELA NOTEBOOK">TELA NOTEBOOK</option>
                    <option value="OUTROS">OUTROS</option>
                  </select>        
            </div>

            <div class="form-group">
                <label for="descricao" class="col-form-label"  style="font-size: 18px;font-weight: bold">DESCRIÇÃO:</label>
                <textarea class="form-control" #descricao name="descricao" [(ngModel)] = "produto.descricao"></textarea>
            </div>
            <div class="form-group">
                <label for="valor" class="col-form-label"  style="font-size: 18px;font-weight: bold" >VALOR:</label>
                <input class="form-control" #valor name="valor" type="text"  [(ngModel)] = "produto.valor" currencyMask [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',',  align: 'left'}"/>
            </div>



        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="salvar(produto,labelEditar)">Salvar</button>
      </div>
    </div>
  </div>
</div>