.trClientes :hover,td:hover,tr:hover, .table-active:hover{
    background-color: #ccc !important;
    color: black !important;
    cursor: pointer !important;
}

td{
    width: 500px !important;
}

tbody{
    width: 500px !important;
}

label{

    font-size: 16px !important;

}
