.trClientes :hover,td:hover,tr:hover, .table-active:hover{
    background-color: #ccc !important;
    color: black !important;
    cursor: pointer !important;
}


label{

    font-size: 16px !important;

}
