<app-header></app-header>

<div class="container" style="margin-top:100px;margin-bottom: 150px;">

    <div class="row justify-content-center">

        <div class="col-md-6">

            <div class="card">

                <div class="card-header bg-dark text-white">
                    <h1>Ordens de Serviços <i class="bi bi-tools"
                            style="font-size: 40px; text-align: center; float:right"></i>
                    </h1>
                </div>

                <div class="card-body">
                    <div class="col" style="margin: 0px; padding: 0; margin-bottom: 15px; ">
                        <a [routerLink]="['/os-consultar']">
                            <div class="card bg-dark text-white">
                                <i class="bi bi-search" style="font-size: 80px; text-align: center;"></i>
                                <div class="card-body">
                                    <h5 class="card-title" style="font-size: 25px; text-align: center;">Consultar
                                    </h5>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col" style="margin: 0px; padding: 0;">
                        <a [routerLink]="['/os-adicionar']">
                            <div class="card bg-dark text-white">
                                <i class="bi bi-plus-circle-fill" style="font-size: 80px; text-align: center;"></i>
                                <div class="card-body">
                                    <h5 class="card-title" style="font-size: 25px; text-align: center;">Adicionar
                                    </h5>
                                </div>
                            </div>
                        </a>
                    </div>


                </div>
            </div>

        </div>

    </div>
</div>