<app-header></app-header>

<div class="container " style="margin-top:100px;width: 100%;">
    <div class="row justify-content-center;width: 100%;">
        <div class="col-md-12" style="float:left;display: inline;">
            <div class="card">
                <div class="card-header bg-dark text-white">
                    <h1>Parametros do sistema</h1>
                </div>
                <div style="padding: 10px;">

                    <div class="row row-cols-1 row-cols-md-2 g-4">
                        <div class="col">
                            <a [routerLink]="['/servico-consultar']">
                                <div class="card">
                                    <i class="bi bi-tools" style="font-size: 50px; text-align: center;"></i>
                                    <div class="card-body">
                                        <h5 class="card-title" style="font-size: 25px; text-align: center;">Serviços
                                        </h5>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col">
                            <a [routerLink]="['/categorias']">
                                <div class="card">
                                    <i class="bi bi-laptop" style="font-size: 50px; text-align: center;"></i>
                                    <div class="card-body">
                                        <h5 class="card-title" style="font-size: 25px; text-align: center;">Categorias
                                        </h5>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col">
                            <a [routerLink]="['/acessorios']">
                                <div class="card">
                                    <i class="bi bi-earbuds" style="font-size: 50px; text-align: center;"></i>
                                    <div class="card-body">
                                        <h5 class="card-title" style="font-size: 25px; text-align: center;">Acessórios
                                        </h5>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="col">
                            <a [routerLink]="['/situacoes']">
                                <div class="card">
                                    <i class="bi bi-file-break-fill" style="font-size: 50px; text-align: center;"></i>
                                    <div class="card-body">
                                        <h5 class="card-title" style="font-size: 25px; text-align: center;">Situações
                                        </h5>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col">
                            <a [routerLink]="['/produto-consultar']">
                                <div class="card">
                                    <i class="bi bi-memory" style="font-size: 50px; text-align: center;">

                                        <svg xmlns="http://www.w3.org/2000/svg" width="50px" height="50px"
                                            fill="currentColor" class="bi bi-memory" viewBox="0 0 16 16">
                                            <path
                                                d="M1 3a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h4.586a1 1 0 0 0 .707-.293l.353-.353a.5.5 0 0 1 .708 0l.353.353a1 1 0 0 0 .707.293H15a1 1 0 0 0 1-1V4a1 1 0 0 0-1-1H1Zm.5 1h3a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-4a.5.5 0 0 1 .5-.5Zm5 0h3a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-4a.5.5 0 0 1 .5-.5Zm4.5.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-4ZM2 10v2H1v-2h1Zm2 0v2H3v-2h1Zm2 0v2H5v-2h1Zm3 0v2H8v-2h1Zm2 0v2h-1v-2h1Zm2 0v2h-1v-2h1Zm2 0v2h-1v-2h1Z" />
                                        </svg>

                                    </i>
                                    <div class="card-body">
                                        <h5 class="card-title" style="font-size: 25px; text-align: center;">Produtos
                                        </h5>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col">
                            <a [routerLink]="['/empresa-editar']">
                                <div class="card">
                                    <i class="bi bi-building" style="font-size: 50px; text-align: center;"></i>
                                    <div class="card-body">
                                        <h5 class="card-title" style="font-size: 25px; text-align: center;">Empresa
                                        </h5>
                                    </div>
                                </div>
                            </a>
                        </div>
                        


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>